/* Lato 2.015 subset (en, de, ro, es) with flattened 'g' ss04 alternate */

@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url(fonts/lato-light.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url(fonts/lato-regular.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url(fonts/lato-semibold.woff);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font: 400 24px/100% Lato;
  color: #222;
}

#introduction {
  padding: 10vh 0 0;
  width: 720px;
  text-align: center;
}

#introduction h1 {
  font: 600 28px/100% Lato;
}

#introduction p {
  margin-top: 8px;
  font-weight: 300;
}

#introduction #cells {
  position: relative;
  margin-top: 22px;
  height: 160px;
  border-radius: 4px;
}

#introduction ul {
  margin-top: 38px;
  font: 400 19px/100% Lato;
  list-style-type: none;
}

#introduction li {
  display: inline-block;
  padding: 0 8px;
}

#introduction li a {
  text-decoration: none;
  color: #33d;
  transition: color .1s;
  outline: none;
}

#introduction li a:visited {
  color: #33d;
}

#introduction li a:hover {
  color: #000;
}

#introduction li a:active {
  color: #000;
}

#works {
  margin: 44px 0 0;
  padding: 0 0 10vh;
  max-width: 1000px;
}

#works ul {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: center;
}

#works li {
  margin: 8px 4px 0;
}

#works li a {
  display: inline-block;
  padding: 7px 20px 9px;
  border-radius: 5px;
  font: 400 17px/100% Lato;
  text-decoration: none;
  color: #222;
  transition: all .15s;
  transform: translate3d(0, 0, 0);
}

#works li a:hover {
  background: #fcfcfc;
  transform: translate3d(0, -1px, 0);
  box-shadow: 0 1px 1px 1px #eee;
}

#works li a:active {
  background: #fcfcfc;
  transform: translate3d(0, 0, 0);
  box-shadow: none;
}

#works li a [component="icon"] {
  position: relative;
  top: 2.4px;
  width: 32px;
  height: 1em;
  margin-right: 10px;
}

#exhibit {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #fff;
  text-align: center;
}

#exhibit h2 {
  font: 600 24px/100% Lato;
}

#exhibit p {
  margin-top: 4px;
  font: 300 24px/100% Lato;
}

#exhibit .media {
  margin-top: 36px;
  max-width: 800px;
  width: 100%;
  height: 88px;
}

#exhibit .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border: 0;
  background: transparent;
  font: 300 40px/100% Lato;
  color: #a8a2a2;
  cursor: pointer;
  outline: none;
}

#exhibit .close:hover {
  color: #222;
}

#exhibit .close:active {
  color: #c8c2c2;
}

@media screen and (max-width: 850px) {
  #introduction {
    width: 100vw;
  }

  #exhibit {
    box-sizing: border-box;
    padding: 0 20px;
  }

  #exhibit h2 {
    font: 600 16px/18px Lato;
  }

  #exhibit p {
    margin-top: 0px;
    width: 80%;
    font: 300 16px/18px Lato;
  }

  #exhibit .media {
    margin-top: 16px;
    height: 72px;
  }
}

@media screen and (max-width: 570px) {
  #introduction h1 {
    font: 600 18px/100% Lato;
  }

  #introduction p {
    font: 300 16px/100% Lato;
    margin-top: 6px;
  }

  #introduction #cells {
    margin-top: 8px;
    height: 144px;
  }

  #introduction ul {
    margin-top: 16px;
    font: 400 15px/100% Lato;
  }

  #introduction li {
    padding: 0 6px;
  }

  #works {
    margin: 28px 0 0;
  }

  #works li a {
    font: 400 15px/100% Lato;
  }
}
