@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url(fonts/lato-light.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url(fonts/lato-medium.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 300 18px/100% Lato;
  color: #222;
}

#introduction {
  position: relative;
  width: 100vw;
  height: 65vh;
}

#introduction > div {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  text-align: center;
}

#introduction h1 {
  font: 500 22px/100% Lato;
  color: #222;
}

#introduction p {
  margin-top: 12px;
  color: #999;
}

#introduction #cells {
  position: relative;
  margin-top: 52px;
  transform: rotate(-5deg);
  width: 100%;
  height: 130px;
  border-radius: 4px;
}

#introduction #cells #gradient {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  background: radial-gradient(circle, rgba(255, 255, 255, 0), #fff);
}

#introduction #cells canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#introduction ul {
  margin-top: 60px;
  list-style-type: none;
  text-align: center;
}

#introduction li {
  display: inline;
  padding: 0 8px;
}

#introduction li a {
  text-decoration: none;
  color: #999;
  outline: none;
}

#introduction li a:hover {
  color: #222;
}

#introduction li a:active {
  color: #bbb;
}

#works {
  position: relative;
  padding-bottom: 80px;
}

#works ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#works li {
  margin: 8px;
}

#works li a {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: #fbfbfb;
  font-size: 16px;
  text-decoration: none;
  color: #999;
}

#works li a:hover {
  background-color: #f7f7f7;
  color: #222;
}

#works li a:active {
  background-color: #fcfcfc;
  color: #bbb;
}

#media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

#media .close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border: 0;
  background: transparent;
  font: inherit;
  font-size: 40px;
  color: #999;
  cursor: pointer;
  outline: none;
}

#media .close:hover {
  color: #222;
}

#media .close:active {
  color: #bbb;
}

#media > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  text-align: center;
}
