/* Lato 2.015 subset (en, de, ro, es) with flattened 'g' ss04 alternate */

@font-face {
  font-family: Lato;
  font-weight: 100;
  src: url(fonts/lato-hairline.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 200;
  src: url(fonts/lato-thin.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url(fonts/lato-light.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url(fonts/lato-regular.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url(fonts/lato-medium.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url(fonts/lato-semibold.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url(fonts/lato-bold.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 800;
  src: url(fonts/lato-heavy.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url(fonts/lato-black.woff);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font: 400 24px/100% Lato;
  color: #222;
}

#introduction {
  text-align: center;
}

#introduction h1 {
  font: 600 28px/100% Lato;
}

#introduction p {
  margin-top: 8px;
  font-weight: 300;
}

#introduction #cells {
  position: relative;
  margin-top: 56px;
  width: 720px;
  height: 150px;
  border-radius: 4px;
}

#introduction ul {
  margin-top: 56px;
  font: 400 18px/100% Lato;
  list-style-type: none;
}

#introduction li {
  display: inline-block;
  padding: 0 8px;
}

#introduction li a {
  text-decoration: none;
  color: #33d;
  transition: color .1s;
  outline: none;
}

#introduction li a:visited {
  color: #33d;
}

#introduction li a:hover {
  color: #000;
}

#introduction li a:active {
  color: #000;
}

#works {
  margin: 56px 0 0;
  max-width: 1000px;
}

#works ul {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: center;
}

#works li {
  margin: 8px 4px 0;
}

#works li a {
  display: inline-block;
  padding: 5px 18px 7px;
  border-radius: 6px;
  background-color: #faf2f2;
  font: 400 17px/100% Lato;
  text-decoration: none;
  color: #222;
}

#works li a:hover {
  background-color: #f4ecec;
}

#works li a [component="icon"] {
  position: relative;
  top: 2.4px;
  width: 32px;
  height: 1em;
  margin-right: 10px;
}

#exhibit {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  text-align: center;
}

#exhibit h2 {
  font: 600 24px/100% Lato;
}

#exhibit p {
  margin-top: 8px;
  font: 300 24px/100% Lato;
}

#exhibit .media {
  margin-top: 48px;
  max-width: 800px;
  width: 100%;
  height: 88px;
}

#exhibit .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border: 0;
  background: transparent;
  font: 300 40px/100% Lato;
  color: #a8a2a2;
  cursor: pointer;
  outline: none;
}

#exhibit .close:hover {
  color: #222;
}

#exhibit .close:active {
  color: #c8c2c2;
}

@media screen and (max-width: 850px) {
  #exhibit {
    box-sizing: border-box;
    padding: 0 20px;
  }

  #exhibit h2 {
    font: 600 16px/100% Lato;
  }

  #exhibit p {
    margin-top: 6px;
    font: 300 16px/100% Lato;
  }

  #exhibit .media {
    margin-top: 28px;
    height: 88px;
  }
}

@media screen and (max-width: 570px) {
  #introduction h1 {
    font: 600 18px/100% Lato;
  }

  #introduction p {
    font: 300 16px/100% Lato;
    margin-top: 6px;
  }

  #introduction #cells {
    margin-top: 28px;
    width: 100vw;
  }

  #introduction ul {
    margin-top: 28px;
    font: 400 16px/100% Lato;
  }

  #introduction li {
    padding: 0 6px;
  }

  #works {
    margin: 44px 0 0;
  }

  #works li a {
    font: 400 16px/100% Lato;
  }
}
